body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #282c34;
  padding: 10px 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-weight: 500;
}

.navbar a:hover {
  color: #61dafb;
}

.content {
  padding: 20px;
  padding-bottom: 90px; /* Add padding to avoid overlap with PlayerBar */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
